################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs
/APIGateway/bin
/APIGateway/obj
/Catalog/obj
/Catalog/bin
/Common/obj
/Common/bin
/Product/obj
/Product/bin
